{% extends 'base.html.twig'%}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href={{asset("styles/form-style.css")}}>
{% endblock %}

{% block main %}
{{form_start(my_form, { 'attr':{'class':"form flex-col-center signIn"}})}}
    {{form_label(my_form.email)}}
    {{form_widget(my_form.email)}}
    {{form_errors(my_form.email)}}
    <button type="submit" class="submit"> Envoyer ma demande </button>
{{form_end(my_form)}}

{% endblock %}