{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('security') }}
{% endblock %}



{% block main %}
    {{ form_start (my_form,{'methods':'POST', 'attr':{'class':'form signUp flex-col-center'}}) }}
    {{form_row(my_form.username)}}
    {{form_row(my_form.picture)}}
    {{form_row(my_form.color)}}
    {{form_row(my_form.email)}}
    {{form_row(my_form.password)}}
        <button type="submit" class="submit"> Je m'inscris</button>
    {{ form_end (my_form)}}
{% endblock %}
