{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('styles/read-style.css')}}">
{% endblock %}


{% block specific %}
	<div class="question">
		<p class="title">{{question.title}}
		</p>
		<p class="content">{{question.content}}
		</p>
		{% include "partials/_questionFeatures.html.twig" with {from:'read', picture : question.author.picture , username : question.author.username, color:question.author.color, authorId:question.author.id} %}
	</div>

	<div {% if ( answers|length != 0)%} class="answerList"{% endif %}>
		{% for answer in answers %}
			<div class="previousAnswer flex-col-center">
				<h2> <span class="nameAuthor spaceBetweenWords" style="color:{{answer.author.color}}">{{answer.author.username}}</span> a répondu :</h2>
				<div class="answerContent flex-row-center">
					<div class="flex-col-center width-100">
						<p class="content">	{{ answer.content }} </p>
						<div class="date">{{answer.createdAt|ago|capitalize}}</div>
					</div>
					{% include "partials/_answer-rating.html.twig" %}
				</div>
			</div>
		{% endfor %}
		
	</div>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

{{form_start(my_form, {'attr':{'class':'newAnswer  flex-row-center'}})}}
	{{form_widget(my_form.content, {'attr':{'class':'contentAnswer'}})}}
	{{form_widget(my_form.submit, {'attr':{'class':'submit'}})}}
{{form_end(my_form)}}
{% else %}
	<div class='box inauthenticated-message'>
		Il faut être connecté pour pouvoir répondre. Vous savez ce qu'il vous reste à faire ;)
	</div>
{% endif %}


{% endblock %}